[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
flask-mysqldb = "*"
tenacity = "*"
aiomysql = "*"
flask = {extras = ["async"], version = "*"}
fastapi = "*"
requests = "*"
aiounittest = "*"
werkzeug = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
